@import url("https://fonts.googleapis.com/css?family=Roboto Mono");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;

  cursor: auto;
}

body {
  color: white;
  height: 100vh;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.side-navbar {
  height: 100%;
  position: fixed;
  width: 70px;
  z-index: 1;
  background-color: #161616;
  overflow-x: hidden;
  outline: none;
  border: none;
  padding-top: 20px;
  top: 0;
  left: 0;
  display: inline-block;
  overflow-y: visible;
}

.side-navbar::-webkit-scrollbar,
.side-navbar::-webkit-scrollbar-track,
.side-navbar::-webkit-scrollbar-thumb {
  display: none;
}

.side-navbar a {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-transform: uppercase;
  color: white;
}

body > div > a:nth-child(7) > ion-icon {
  margin-top: 9vh;
}

body > div > a:nth-child(1) {
  margin-bottom: 13vh;
}

.side-navbar a img:hover,
.side-navbar a ion-icon:hover {
  color: #d22222 !important;
  cursor: pointer;
}

.background-area {
  display: inline-block;
  background-color: #1b191c;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
.content-area {
  margin-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content:stretch;
  align-items: stretch;
}


.skills_container {
  background-color: rgba(255, 255, 255, 0.619);
  padding: 30px;
  overflow: hidden;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  
}

@media all and (max-width: 1005px) {
  h1 {
    font-size: 25px;
  }
}

@media all and (max-width: 858px) {
  .content-area {
    margin-left: 15vw;
  }
}

.row{
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 20px;
    font-weight: bolder;
}

h1 {
  font-weight: bolder;
  font-size: 60px;
  color: black;
}

li{
    color: white;
    font-weight: bolder;
}

h4 {
  font-weight: bolder;
  font-size: 30px;
}
@media all and (max-width: 566px) {

  .background-area{
      overflow-y: scroll;
  }

}

.typed{
  word-break:break-all;
  display: inline-block;
}

.typed-cursor {
  font-size: 60px;
  color: #d22222;
  display: inline;
  word-break: break-all;
}