@import url("https://fonts.googleapis.com/css?family=Roboto Mono");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
  
  cursor: auto;
}

body{
  color: white;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.side-navbar {
  height: 100%;
  position: fixed;
  width: 70px;
  z-index: 1;
  background-color: #161616;
  overflow-x: hidden;
  outline: none;
  border: none;
  padding-top: 20px;
  top: 0;
  left: 0;
  display: inline-block;
  overflow-y: visible;
}

.side-navbar::-webkit-scrollbar, .side-navbar::-webkit-scrollbar-track,  .side-navbar::-webkit-scrollbar-thumb{
  display: none;
}

.side-navbar a {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-transform: uppercase;
  color: white;
  opacity: 0;
}

body > div > a:nth-child(7) > ion-icon {
  margin-top: 9vh;
}

body > div > a:nth-child(1) {
  margin-bottom: 13vh;
}

.side-navbar a img:hover,.side-navbar a ion-icon:hover{
  color: #d22222 !important;
  cursor: pointer;
}

/* SIDEBAR END */






canvas{
  cursor: -webkit-grab; 
  cursor: grab;
}

canvas:active{
  cursor: -webkit-grabbing; 
  cursor: grabbing;
}





.background-area {
  display: inline-block;
  background-color: #1b191c;
  min-height: 105vh;
  width: 100vw;
}

.content-area{
  margin-left: 8vw;
  margin-top: 15vh;
  /* border: 2px solid lightblue; */
  max-width: 800px;
  word-break: break-all;
}

.introToMe{
  margin-top: 45vh;
  font-size: 30px;
  position: relative;
}

.loading{
  text-align: center;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.model{
  position: absolute;
  /* border: 2px solid red; */
  right: 0;
  transform: translateY(-350px);
}

.typed{
    display: inline-block;
}

.typed-cursor {
    font-size: 70px;
    color: #d22222;
}

@media all and (max-width: 858px) {
  .introToMe{
    margin-bottom: 70px;
    margin-top: 20px;
  }

  .content-area{
    margin-left: 15vw;
  }

  .model{
    position: relative;
    transform: translateX(0px);
  }

}

















/* PAGE INTRODUCTION */

.intro{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-text{
  color: white;
  font-size: 3rem;
}

.slider{
  background: #d22222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateY(100%);
}

.hide{
  background: black;
  overflow: hidden;
}

.hide span{
  display: inline-block;
  transform: translateY(100%);
}