@import url("https://fonts.googleapis.com/css?family=Roboto Mono");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;

  cursor: auto;
}

body {
  color: white;
  height: 100vh;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.side-navbar {
  height: 100%;
  position: fixed;
  width: 70px;
  z-index: 1;
  background-color: #161616;
  overflow-x: hidden;
  outline: none;
  border: none;
  padding-top: 20px;
  top: 0;
  left: 0;
  display: inline-block;
  overflow-y: visible;
}

.navbarContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-navbar::-webkit-scrollbar, .side-navbar::-webkit-scrollbar-track,  .side-navbar::-webkit-scrollbar-thumb{
  display: none;
}

.side-navbar a {
  padding: 2vh 20px 2vh 20px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-transform: uppercase;
  color: white;
}

.side-navbar .nav3 a{
  padding: 1vh 20px 1vh 20px;
}

.side-navbar a img:hover,
.side-navbar a ion-icon:hover {
  color: #d22222 !important;
  cursor: pointer;
}

.background-area {
  display: inline-block;
  background-color: #1b191c;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
.content-area {
  margin-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.lang_container{
    width: 500px;
    height: 500px;
    top: 50px;
    position: sticky;
}

.skills_container {
  background-color: rgba(255, 255, 255, 0.619);
  padding: 30px;
  width: 550px;
  overflow-wrap: anywhere;
  
}

@media all and (max-width: 1005px) {
  h1 {
    font-size: 25px;
  }
}

@media all and (max-width: 1125px) {
  .lang_container{
    position: relative;
    margin-top: 50px;
    top: 0px;
  }
}

@media all and (max-width: 858px) {
  .content-area {
    margin-left: 15vw;
  }
}

.row{
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 20px;
    font-weight: bolder;
}

h1 {
  font-weight: bolder;
  font-size: 60px;
  color: #1b191c;
}

h4 {
  font-weight: bolder;
  font-size: 30px;
}
@media all and (max-width: 566px) {
  .contact_container {
    max-width: 350px;
  }

  .background-area{
      overflow-y: scroll;
  }

}

@media all and (max-width: 1125px) {
    .lang_container{
        margin-bottom: 50px;
    }
  
  }

text{
  cursor: pointer !important;
}

.mobile_nav{
  display: none;
  position: sticky;
}

@media all and (max-width: 500px) {

  .mobile_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .side-navbar a{
    padding: 0%;
    text-decoration: none;
    font-size: 25px;
    display: block;
    text-transform: uppercase;
    color: white;
  }

  .side-navbar {
    z-index: 1;
    overflow-x: scroll;
    outline: none;
    border: none;
    overflow-y: hidden;
    height: 70px;
    width: 100vw;
  }

  .nav1{
    display: none;
  }

  .nav2{
    display: none;
  }

  .nav3{
    display: none;
  }

  .content-area{
    margin-left: 0px;
    position: relative;
    margin-top: 20vh;
    padding-left: 20px;
    padding-right: 20px;
  }
}